<% var today = new Date(Date.now()); var previousDay = today %>
<% messages.forEach((message) => { %>
  <% var date = new Date(message.date); %>
  <% if (date.getDay() != previousDay.getDay()){ %>
    <li class="list-group-item row d-flex no-gutter m-0 p-0 justify-content-center">
      <% if (date.getDay() == today.getDay() && date.getMonth() == today.getMonth()) {%>
        <span class="text-secondary">aujourd'hui</span>
      <% } else { %>
        <span class="text-secondary"> <%= date.toLocaleDateString() %></span>
      <% } %>
      </li>
    <% previousDay = date %>
  <% } %>
  <li class="list-group-item row d-flex no-gutter m-0 p-0 align-items-center">
    <div class="col-auto alert alert-secondary m-0 py-0 h-100 d-flex align-items-center">
      <span><%= message.userName %></span>
      </div>
    <div class="col">
      <%= message.text %>
    </div>
    <div class="col-auto">
    <span class="text-secondary"><%= (date.getHours()<10?'0':'') + date.getHours() %>:<%= (date.getMinutes()<10?'0':'') + date.getMinutes() %> </span>

    </div>
  </li>
<% }) %>
