<div id="players-table" class="row mx-0">
<div id="scores-table" class="col-auto">
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th><a href="/"><span class="oi oi-home"></span></a></th>
        <% game.players.forEach((player) => { %>
          <th><%= player.name %></th>
          <% }); %>
        </tr>

      </thead>
      <tbody>
        <% for(var i=0; i < 8; i++) {%>
          <tr>
            <th scope="row">
              <%= game.scoresList[i] %>
            </th>
            <% game.players.forEach((player, j) => { %>
              <td class="player-cell-<%= j %> score-<%= i %>"><%= player.scores[i] %></td>
              <% }); %>

            </tr>
            <% }; %>

          </tbody>
        </table>
      </div>

<div class="col px-0 d-flex flex-column">
  <div class="row no-gutters mt-1 align-items-stretch flex-grow-1">
    <div class="col-1"></div>
    <div class="col-10 d-flex flex-column">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-chart="batons" data-toggle="tab" href="#">Batons par volée</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-chart="darts" data-toggle="tab" href="#">Darts par volée</a>
      </li>
    </ul>
      <div class="w-100 flex-grow-1"  style="position: relative;">
        <canvas id="chart-canvas" class=""></canvas>
    </div>
  </div>
    <div class="col-1"></div>

  </div>



  <div class="row no-gutters mb-3">
    <div class="card w-100">
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>
            </td>
            <td>
              <span style="text-decoration:overline" data-toggle="tooltip" title="Nombre moyen de batons par volée">
                batons
              </span>
          </td>
            <td><span data-toggle="tooltip" title="Nombre de batons dans la partie">&Sigma; batons</span></td>
            <td><span data-toggle="tooltip" title="Nombre de volées vides dans la partie">&Sigma; fromages</span></td>
          </tr>
        </thead>
        <tbody>
          <% game.players.forEach((player) => { %>
            <tr>
              <td> <%= player.name %></td>
              <td><%= game.stats[player.name].mBatons %></td>
              <td><%= game.stats[player.name].tBatons %></td>
              <td><%= game.stats[player.name].nFromages %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      </div>

    </div>

</div>
</div>
