<div id="players-table">
<div id="scores-table">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><a href="/"><span class="oi oi-home"></span></a></th>
      <% game.players.forEach((player, i) => { %>
        <th class="player-<%= i %>-cell"><%= player.name %></th>
        <% }); %>
        <th class="game-state-2 d-none auth"> × 1</th>
        <th class="game-state-2 d-none auth">× 2</th>
        <th class="game-state-2 d-none auth">× 3</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < 8; i++) {%>
      <tr>
        <th scope="row">
          <%= game.scoresList[i] %>
       </th>
        <% game.players.forEach((player, j) => { %>
          <td class="player-<%= j %>-cell"><%= player.scores[i] %></td>
        <% }); %>
          <% if (i < 6) { %>
            <td class="game-state-2 d-none auth">
              <button onclick="DartButtonsclick(this)" class="dart-button btn btn-secondary" data-n=0 data-combo=1 data-value=<%= i %>>&nbsp;</button>
            </td>
            <td class="game-state-2 d-none auth">
              <button onclick="DartButtonsclick(this)" class="dart-button btn btn-info" data-n=0 data-combo=2 data-value=<%= i %>>&nbsp;</button>
            </td>
            <td class="game-state-2 d-none auth">
              <button onclick="DartButtonsclick(this)" class="dart-button btn btn-primary" data-n=0 data-combo=3 data-value=<%= i %>>&nbsp;</button>
            </td>
          <% } %>
          <% if (i == 6) { %>
            <td class="game-state-2 d-none auth"><button onclick="DartButtonsclick(this)" class="dart-button btn btn-success" data-n=0 data-combo=1 data-value=<%= i %>>&nbsp;</button> </td>
            <td class="game-state-2 d-none auth"><button onclick="DartButtonsclick(this)" class="dart-button btn btn-danger" data-n=0 data-combo=2 data-value=<%= i %>>&nbsp;</button> </td>
          <% } %>

      </tr>
    <% } %>

  </tbody>
</table>
</div>
</div>
